@model co_sport.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>团队成员</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach(var user in Model.Users)
        {
        <dt>
            @Html.DisplayFor(model => user.StuNum)
        </dt>
        <dt>
            @Html.DisplayFor(model=>user.Name)
        </dt>
        }
    </dl>
</div>
<div>
    <h4>团队成员运动时间表</h4>
    <hr />
    <div class="table">

    </div>
</div>
<p>
    @Html.ActionLink("成员管理","MemberManage", new { id = Model.GroupID })
    @Html.ActionLink("更改", "Edit", new { id = Model.GroupID }) |
    @Html.ActionLink("返回", "MyGroup")
</p>
